
        /* nav section start */
        .navbar {
            padding: 10px 20px;
        }

        .navbar-brand img {
            height: 40px;
            /* Adjust the height of the logo */
        }

        .navbar .nav-link {
            font-size: 20px;
            /* Adjust the font size */
            color: #2193D1;
            font-weight: 700;
            margin-right: 20px;
        }

        /* Specific styles for the scrollbar inside the departments section */
        #departments .scroll-1::-webkit-scrollbar {
            width: 12px;
            height: 12px;
            background-color: #75A7BE;
            border-radius: 20px;
        }

        #departments .scroll-1::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background: white;
            border: 2px solid #75A7BE;
        }

        /* Reset for text content */
        #departments * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            color: #fff;
        }

        /* Specific styles for the scrollbar inside the departments section */
        /* #departments .scroll-1::-webkit-scrollbar {
            width: 12px;
            height: 12px;
            background-color: #75A7BE;
            border-radius: 20px;
        }

        #departments .scroll-1::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background: white;
            border: 2px solid #75A7BE;
        } */

        /* Reset for text content */
        #departments * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
            color: #fff;
        }

        /* Specific class for the departments container */
        #departments .departments-container {
            display: flex;
            overflow-x: hidden;
            padding: 24px;
            width: 54%;
            scroll-snap-type: x mandatory;
            scroll-padding-top: 24px;
            border-radius: 8px;
            gap: 20px;
            margin: 0 auto;
            scroll-behavior: smooth;
            /* Smooth scroll */
        }

        .auto-scroll-item {
            flex: 0 0 auto;
            /* Prevent items from shrinking */
            width: 220px;
            /* Set the width of each item */
            height: 150px;
            background-color: #75A7BE;
            /* Initial background color */
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            border-radius: 8px;
            text-align: center;
            position: relative;
            overflow: hidden;
            /* Ensure gradient stays within the card */
            transition: all 0.3s ease;
        }

        .auto-scroll-item img{
            border-radius: 50px;
        }

        /* Hover effect for auto-scroll items */
        .auto-scroll-item:hover {
            background-color: #597d8e;
            /* Base color change on hover */
            transform: scale(1.05);
            /* Slightly enlarge the item */
        }

        .auto-scroll-item::before {
            content: '';
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.2));
            opacity: 0;
            transition: all 0.4s ease;
        }

        .auto-scroll-item:hover::before {
            left: 100%;
            opacity: 1;
            /* Gradient effect moves across the card */
        }

        /* doctors section start  */
        .card {
            /* Ensure all cards have the same height */
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .card-body {
            flex-grow: 1;
        }

        /* doctors section start  */


        /* underlines after heading  */
        .underline-text {
            display: inline-block;
            /*  Make it behave like an inline element but allow for block-level properties */
            position: relative;
            margin-bottom: 20px;
        }

        .underline-text::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5px;
            background-color: #75a7be;
            transition: width 0.3s ease;
            border-radius: 50px;
        }

        .underline-text:hover::after {
            width: 50%;
            left: 50%;
            transform: translateX(-50%);
        }


        /* appointment section start  */
        .appointment-container {
            background-color: #ffffff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
            max-width: 900px;
            margin: 50px auto;
            text-align: center;
        }

        .appointment-container .form-title {
            text-align: center;
            font-weight: bold;
            font-size: 24px;
            color: #2193D1;
            margin-bottom: 20px;
        }

        /* Input styling to match the exact design */
        .appointment-container .form-control,
        .form-select,
        textarea {
            background-color: #EAEDEF;
            border: 1px solid #e0e0e0;
            border-radius: 15px;
            height: 45px;
            font-size: 16px;
            padding: 10px 15px;
            color: #989898;
        }

        .appointment-container textarea {
            height: auto;
            resize: none;
        }

        .appointment-container .btn-proceed {
            background-color: #75A7BE;
            color: white;
            border: none;
            border-radius: 15px;
            width: 50%;
            height: 45px;
            font-size: 16px;
            font-weight: 500;
        }

        .appointment-container .btn-proceed:hover {
            background-color: #60889a;
            color: white;
            font-weight: 700;
        }

        /* appointment container end  */

        /* doctors  */
        .card .svg-icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        cursor: pointer;
    }

    .modal-content {
        background-color: #75a7be;
        color: white;
        border-radius: 10px;
        max-height: 80vh;
        overflow-y: scroll;
    }

    .modal-header {
        border-bottom: none;
    }

    .modal-body img {
        max-width: 100%;
        height: auto;
    }

        /* Custom Animation for Scrolling */
        @keyframes scrollLeft {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-100%);
            }
        }

        @keyframes scrollRight {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(100%);
            }
        }

        .animate-scrollLeft {
            animation: scrollLeft 20s linear infinite;
        }

        .animate-scrollRight {
            animation: scrollRight 20s linear infinite;
        }

        /* Mask Effect */
        .mask-effect {
            mask-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
        }

        /* insurance box styles */
        .insurance-box {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 10rem;
            height: 13rem;
            background-color: rgba(255, 255, 255, 0.1);
            overflow: hidden;
        }

        .insurance-box img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }

        /* footer section starts  */
        .footer {
            padding: 40px 0;
            background-color: #F8F9FA;
            margin-top: 80px;
        }

        .footer h5 {
            font-size: 16px;
            font-weight: bold;
            color: #75A7BE;
        }

        .footer p,
        .footer a {
            color: #77808B;
            font-size: 14px;
        }

        .footer a:hover {
            text-decoration: underline;
        }

        .footer-icons a {
            display: inline-block;
            margin-right: 10px;
            color: white;
            background-color: #75A7BE;
            width: 30px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 50%;
            text-decoration: none;
        }

        /* footer section ends  */
